<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/custom.css">
  </head>
  <body>
    <header>
      <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
      <nav>
        <ul>
          {% for page in site.header_pages %}
            <li><a href="{{ page | relative_url }}">{{ site.pages | where: "path", page | first | attr: "title" }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>
  </body>
</html>
